* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: Arial;
    padding: 20px;
}

/* BOTON */
button {
    padding: 8px 15px;
    cursor: pointer;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #ece9d8;
    width: 900px;
    padding: 10px;
    border:2px solid #808080;
}

/* BARRA */
.title-bar {
    background: linear-gradient(90deg,#000080,#1084d7);
    color: white;
    padding: 5px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

/* TABS */
.tabs {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.tab {
    background:#c0c0c0;
    padding:5px 10px;
    cursor:pointer;
}

.tab.active {
    background:white;
}

/* TABLA */
.table-header, .table-row {
    display:flex;
}

.table-header {
    background:#c0c0c0;
    font-weight:bold;
}

.table-header-cell, .cell {
    flex:1;
    padding:5px;
    font-size:13px;
}

.table-body {
    background:white;
    height:300px;
    overflow-y:auto;
    border:1px solid #aaa;
}

.table-row {
    border-bottom:1px solid #eee;
    cursor:pointer;
}

.table-row:hover {
    background:#dbe8ff;
}

.table-row.selected {
    background:#bcdcff;
}

.edit-input {
    width:100%;
    font-size:13px;
    border:1px solid #999;
}

/* FOOTER */
.footer {
    margin-top:5px;
}
.footer {
    margin-top:5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-buttons {
    display:flex;
    gap:5px;
}

.mini-btn {
    width:28px;
    height:24px;
    font-size:14px;
    cursor:pointer;
}


